<h1>All Movies</h1>

<dl>
  <% movies.each do |movie| %>
    <dt><%= movie.title %></dt>
    <dd>directed by <%= movie.director %></dd>
  <% end %>
</dl>

<%= button_to "Add New Movie", new_movie_path, method: :get %>